.adminNavMenu{
    @apply flex mt-2 max-md:flex-col
    ;
    transition: all 500ms ease-out;
}
.menuItem{
    @apply    
    bg-amber-500 
    hover:bg-amber-300 
    p-1 
    text-white 
    mr-[0px] 
    min-w-[110px] 
    text-center 
    active:bg-amber-200
    active:text-gray-400
    md:border-l
    max-md:border-t
    transition-all duration-500 ease-in-out;
    transition: all 500ms ease-out;
      
    
};

.activeMenuItem{
    @apply bg-amber-400;
}


.mainPageContainer{
    @apply flex max-sm:flex-col flex-wrap
}
.pageBlock{
    transition: opacity 1000ms ease-out, transform 500ms ease-out;
    @apply 
    bg-white 
    sm:w-full
    md:w-1/4    
    max-md:mt-1
    min-h-[200px];
    
    
}
.pageBlockHide{
    opacity: 0;
}